<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toy Kingdoms</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 1000px;
            margin: 0 auto;
            padding: 20px;
        }
        h1 {
            text-align: center;
            background-color: #ffc107;
            color: #212529;
            padding: 20px;
            border-radius: 10px;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        .card {
            position: relative;
            width: calc(33.333% - 40px);
            margin: 20px;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            transition: transform 0.3s;
            box-sizing: border-box;
        }
        .card:hover {
            transform: scale(1.05);
        }
        .card img {
            width: 100%;
            height: auto;
        }
        .card-info {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            padding: 10px;
            text-align: center;
            opacity: 0;
            transition: opacity 0.3s;
        }
        .card:hover .card-info {
            opacity: 1;
        }
        .card a {
            color: white;
            text-decoration: none;
        }
        .card a:hover {
            text-decoration: underline;
        }
        .cards-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Toy Kingdoms</h1>
    <div class="cards-container">
        {{#each categories}}
        <div class="card">
            <a href="/customer/toy/{{_id}}" >
                <img src="{{cover}}" alt="toy cover">
                <div class="card-info">{{name}}</div>
            </a>
        </div>
        {{/each}}
        <!-- Add more cards as needed -->
    </div>
</div>
</body>
</html>